.zoominous-fullscreen {
  z-index: 997;
  overflow: hidden;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: black url(/loading-spinner.gif) no-repeat center;
}

.zoominous-fullscreen img {
  z-index: 998;
  position: absolute;
  max-width: none;
  max-height: none;
  display: none;
  margin: 0 auto;
}

.zoominous-close-wrapper {
  z-index: 999;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 10px;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  -o-transition: opacity 400ms;
  transition: opacity 400ms;
}

.zoominous-close-wrapper.hidden {
  opacity: 0;
}

.zoominous-close {
  padding: 4px;
  font-family: sans-serif;
  color: #aaa;
  background: black;
  border: 1px solid #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size: 12px;
}

